{% block content1 %}
<form action="{{ url_for('home') }}" method="POST">
    {{ form.name.label() }}{{ form.name() }}<br>
    {{ form.submit() }}
    {{ form.hidden_tag() }}
</form>

<h3>Navigation</h3>
<ul>
	<li><a href="{{ url_for('all_names')}}">See all names</a></li>
	<li><a href="{{ url_for('search')}}">Search for a product</a></li>
	<li><a href="{{ url_for('add_product')}}">Add a product to your list</a></li>
	<li><a href="{{ url_for('get_user')}}">See products in your list</a></li>
	<li><a href="{{ url_for('add_review')}}">Add review to a product</a></li>


</ul>


{% endblock %}
